@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.main {
    background-image: url(assests/images/bg-image.jpg);
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 700px;
    background-color: black;
    position: relative;
    background-position: center center;
}

.box {
    position: absolute;
    top: 0;
    height: 700px;
    width: 100%;
    background-color: black;
    opacity: 0.69;

}

.nav {
    max-width: 77vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0px;
}


.nav img {
    width: 150px;
    color: red;
    opacity: 0.85;
    position: relative;
    z-index: 1;
}

.nav .btn {
    font-size: 16px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.btn-black {
    width: 125px;
    padding: 2px 12px;
    margin-right: 15px;
    background-color: black;
    color: white;
    border: 2px solid gray;
}

.btn-signin {
    border: none;
    padding: 3px 12px;
    background-color: red;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.btn-signin:hover {
    background-color: rgba(255, 0, 0, 0.841);
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 180px;
    color: white;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-buttons input {
    background-color: rgba(0, 0, 0, 0.44);
    border: 1px solid gray;
    border-radius: 3px;
    width: 325px;
    padding: 10px;
    height: 35px;
    color: white;
}

.hero-buttons input::placeholder {
    color: white;
    opacity: 0.80; /* Firefox */
  }

.hero-buttons button {
    display: flex;
    align-items: center;
    padding: 9px;
    background-color: red;
    color: white;
    border: 2px solid red;
    font-size: 23px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
}

.hero-buttons button:hover {
    background-color: rgba(255, 0, 0, 0.679);

}

.hero-buttons button i {
    font-size: 18px;
    padding-left: 10px;
}

.seperation {
    width: 100%;
    height: 8px;
    background-color: rgba(79, 77, 77, 0.525);

}

/* section first */
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
}

.sec-image {
    position: relative;
}

.info>:first-child {
    font-size: 47px;
    font-weight: 600;
}

.info {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.info>:nth-child(2) {
    font-size: 20px;
}

.sec-image img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.sec-image video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

/* frequently asked question */
.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}

.faq h1 {
    font-size: 45px;
    font-weight: bold;
}

.q-box {
    width: 70vw;
    height: 67px;
    background-color: #2d2d2d;
    color: white;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.q-box:hover {
    transition: 1s ease;
    background-color:  #494848;
}

.q-box span {
    font-size: 25px;
    font-weight: 200;
}

.q-box i {
    font-size: 35px;
}

.login-info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-info div {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

/* footer */
footer {
    max-width: 90vw;
    margin: auto;
    padding: 50px;
    color: gray;
}

footer> :first-child {
    padding: 25px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-items a {
    color: gray;

}

footer button {
    margin: 25px 0px;
}

@media screen and (max-width: 1000px) {
    .nav {
        max-width: 90vw;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .first {
        flex-wrap: wrap;
    }
    
    .sec-image img{
        width: 305px;
    }
    
    .sec-image video {
        width: 305px;
    }

    .third .sec-image video {
        width: 305px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 25px;
    }

    .q-box {
        width: 90vw;

    }

    .q-box span {
        font-size: 20px;
    }

    .info>:first-child {
        font-size: 37px;
    }

    .info>:nth-child(2) {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {

    .btn-black {
        width: 80px;
        margin: 0;
    }
    
}
